In [240]:
import os
import numpy as np
import pandas as pd

In [241]:
# Problem 1

def makeDataFrame(data):
    df = pd.DataFrame(data)
    return df

makeDataFrame({'A':[1,0,0,1], 'B':[0,1,1,0], 'C':[0,1,1,0], 'D':[1,0,0,1]})

   A  B  C  D
0  1  0  0  1
1  0  1  1  0
2  0  1  1  0
3  1  0  0  1

In [242]:
# Problem 2a

def load():
	return pd.read_csv(f"{os.getcwd()}\\data\\openrice.csv")

df = load()
df

,Unnamed: 0,address,bookmarks,dislikes,food_type,likes,name,number_of_reviews,price_range
0,0,"Shop J-K., 200 Hollywood Road,",5838,6,Hong Kong Style,78,For Kee Restaurant 科記咖啡餐室,(133 Reviews),Below $50
1,1,"G/F, 108 Hollywood Road,",3492,2,International,20,Blue · Butcher & Meat Specialist,(30 Reviews),$201-400
2,2,"G/F, 206 Hollywood Road,",5517,5,Thai,31,Chachawan,(43 Reviews),$201-400
3,3,"Shop 3018, 3/F, Shun Tak Centre, 168-200 Conna...",1173,1,Hong Kong Style,23,Capital Café 華星冰室,(39 Reviews),Below $50
4,4,"G/F, 38 Queens Road West,",1064,1,Indian,50,Namaste Kitchen 滋味廚房,(57 Reviews),$51-100
5,5,"Shop 1, G/F, King Ho Building, 41-49 Aberdeen ...",3300,0,Vietnamese,21,Bun Cha Vietnamese,(33 Reviews),$101-200
6,6,"G/F, 12 Tung Street,",5101,3,Western,14,Halfway Coffee 半路咖啡,(25 Reviews),Below $50
7,7,"G/F, Sea View Commercial Building, 21-24 Conna...",591,3,Guangdong,30,Fung Shing Restaurant 鳳城酒家,(37 Reviews),$101-200
8,8,"Shop 1B, G/F, Cheungs Building, 1 Wing Lok Str...",1224,0,Western,28,Veggi Monster,(32 Reviews),$51-100
9,9,"G/F, 8 Hillier Street,",1452,0,Japanese,28,Pokéworld,(37 Reviews),$51-100

In [243]:
# Problem 2b

def makeCategory():
	df["price_category"] = df["price_range"]
	df.price_category.replace(["Below $50","$51-100","$101-200","$201-400"], ["Cheap","Not Cheap","Expensive","Very Expensive"], inplace = True)
	return df["price_category"]

print(makeCategory())

0             Cheap
1    Very Expensive
2    Very Expensive
3             Cheap
4         Not Cheap
5         Expensive
6             Cheap
7         Expensive
8         Not Cheap
9         Not Cheap
Name: price_category, dtype: object

In [244]:
# Problem 2c

def totalDislike():
    dfg = df.groupby(df.price_range).sum()
    return dfg["dislikes"]

print(totalDislike())

price_range
$101-200      3
$201-400      7
$51-100       1
Below $50    10
Name: dislikes, dtype: int64

C:\Users\erasm\AppData\Local\Temp\ipykernel_3684\2905122336.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfg = df.groupby(df.price_range).sum()

In [245]:
# Problem 2d

def totalBookmarks():
	dfg = df.groupby(df.food_type).sum()
	return dfg.bookmarks["Hong Kong Style"]

print(totalBookmarks())

7011

C:\Users\erasm\AppData\Local\Temp\ipykernel_3684\4086380167.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfg = df.groupby(df.food_type).sum()

In [246]:
# Problem 2e

def extractReview():
    l = list(df["number_of_reviews"])
    nl = []
    for i in range(len(l)) :
        nl.append(l[i].replace("(","").replace(" Reviews)",""))
    return pd.Series(nl,name="number_of_reviews")

print(extractReview())

0    133
1     30
2     43
3     39
4     57
5     33
6     25
7     37
8     32
9     37
Name: number_of_reviews, dtype: object