# Take any list and convert it into a tuple

In [14]:
# write your code here...
d=[]

for i in range(7) :
    d.append(input())

print("Your input data : "+str(d))
print("What you want : "+str(tuple(d)))

Your input data : ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']
What you want : ('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

####  Input:  ['sun','mon','tue','wed','thu','fri','sat']
####  output: ('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

# Take any list and convert it into a set

In [17]:
# write your code here...
d=[]

for i in range(9) :
    d.append(input())

print("Your input data : "+str(d))
print("What you want : "+str(set(d)))

Your input data : ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'tue']
What you want : {'wed', 'sun', 'thu', 'mon', 'sat', 'tue', 'fri'}

#### Input: ['sun','mon','tue','wed','thu','fri','sat','sun','tue']
#### Output: {'mon', 'thu', 'sun', 'fri', 'wed', 'sat', 'tue'}

# count the occurrences of an element 'mon' in the list

In [19]:
# write your code here...
d=[]

for i in range(9) :
    d.append(input())

print("Your input data : "+str(d))
print('''"mon" in the list : '''+str(d.count("mon"))+" times")

Your input data : ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sun', 'mon', 'mon']
"mon" in the list : 3 times

#### Input: weekdays = ['sun','mon','tue','wed','thu','fri','sun','mon','mon']
#### Output: 3